.rating-logo {
  height: 7em;
}

.xbox-logo,
.ps4-logo,
.pcsoftware-logo {
  height: 3em;
  margin-left: 2em;
}

.steam-logo {
  height: 2.6em;
  margin-left: 2em;
}

div:nth-child(10) > p {
  display: none;
}

@media only screen and (max-width: 960px) {
  .rating-logo {
    height: 70px;
  }

  .xbox-logo,
  .ps4-logo,
  .pcsoftware-logo {
    height: 30px;
    margin-left: 1em;
  }

  .steam-logo {
    height: 30px;
    margin-left: 1em;
  }
}
